<footer>
  <ul class="sotset">
      <h1 class="logo">huseyn.book</h1>
    <div class="sotset">
      <li class="headSs">
        <a class="my-pagesite" href="https://www.instagram.com/huseyn_it">     
          <img class="ssImg" src="/image/forSite/instagram.png" alt="instagram">
        </a>
      </li>
      <li class="headSs">
        <a class="my-pagesite" href="https://github.com/SharipovHuseyn">
        <img class="ssImg" src="/image/forSite/github.png" alt="github">
        </a>
      </li>
      <li class="headSs">
        <a class="my-pagesite" href="https://t.me/huseyn_IT">
          <img class="ssImg" src="/image/forSite/telegram.png" alt="telegram">
        </a>
      </li>
    </div>
  </ul>
</footer>