<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <%- include('../part/header.ejs'); %>

    <main>
      <div class="aboutMe">
        <div class="myPhotoAndmyName">
            <img class="myPhoto" src="/image/forSite/myPhoto.png" alt="myPhoto">
            <h2 class="myName">Хусейн Шарипов</h2>
        </div>
        <div>
            <p class="textMyProfil">
                Меня зовут <b>Шарипов Хусейн</b>, и я родился в <b>2008</b> году. В сообществе разработчиков я известен как создатель небольшого, но увлекательного проекта под названием <b>huseyn.book</b>. Этот проект стал для меня отличной платформой для практики и самосовершенствования в программировании.
                <br>
                <br>
                Я активно изучаю и использую язык программирования <b>JavaScript</b>, который позволяет мне реализовывать свои идеи и воплощать в жизнь различные функциональные решения. Мой проект <b>huseyn.book</b> — это не просто код, это площадка для экспериментов и изучения новых технологий, где я могу применять свои знания и навыки, а также находить вдохновение для будущих стартапов.
                <br>
                <br>
                Работа над <b>huseyn.book</b> помогает мне развивать креативное мышление, а также изучать актуальные тренды в программировании и веб-разработке. Я стремлюсь к постоянному совершенствованию и готов делиться своими идеями и проектами с единомышленниками. 
                <br>
                <br>
                <b>Я уверен, что мой опыт и страсть к программированию позволят мне достигнуть успеха в этой увлекательной области, и я с нетерпением жду возможности работать над новыми проектами и вызовами.</b>
            </p>
        </div>
      </div>
    </main>

    <%- include('../part/footer.ejs'); %>
</body>
</html>