<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>

    <div class="backgraund">
            <form action="/auth" method="post">
                <div class="authg">
                    <h1 class="logo">huseyn.book</h1>
                    <input class="input-reg" placeholder="Почта" type="mail" name="user_mail" id="user-mail">
                    <input class="input-reg" placeholder="Пароль" type="password" name="user_pass" id="user-pass">
                    <button class="book-buy-button">Войти</button>
                </div>
            </form>
    </div>

</body>
</html>