<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библеотека</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <%- include('../part/header.ejs'); %>

    <main>
        <div class="category-items">
            <a class="linkCategory" href="/category/Artistic">
                <div class="category-item">
                    <img class="libImage" src="/image/forSite/Artistic.jpeg" alt="Artistic">
                    <h3>Художественная литература</h3>
                </div>
            </a>
            <a class="linkCategory" href="/category/NonFiction">
                <div class="category-item">
                    <img class="libImage" src="/image/forSite/NonFiction.jpeg" alt="NonFiction">
                    <h3>Нехудожественная литература</h3>
                </div>
            </a>
            <a class="linkCategory" href="/category/Scientific">
                <div class="category-item">
                    <img class="libImage" src="/image/forSite/Scientific.jpeg" alt="Scientific">
                    <h3>Научная литература</h3>
                </div>
            </a>
            <a class="linkCategory" href="/category/Fantasy">
                <div class="category-item">
                    <img class="libImage" src="/image/forSite/Fantasy.jpeg" alt="Fantasy">
                    <h3>Фантастика и фэнтези</h3>
                </div>
            </a>
            <a class="linkCategory" href="/category/Journalism">
                <div class="category-item">
                    <img class="libImage" src="/image/forSite/Journalism.jpeg" alt="Journalism">
                    <h3>Публицистика и журналистика</h3>
                </div>
            </a>
        </div>
    </main>

</body>
</html>