<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reg | Auth</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <main>
        <div class="choseBlock">
            <div class="choseBlockIn">
                <a href="/auth">
                    <img src="/image/forSite/login.png" alt="login">
                    <h2>LOGIN</h2>
                </a>
            </div>
            <div class="choseBlockIn">
                <a href="/reg">
                    <img src="/image/forSite/signin.png" alt="signin">
                    <h2>SIGN IN</h2>
                </a>
            </div>
        </div>
    </main>
    <%- include('../part/footer.ejs') %>
</body>
</html>