<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <%- include('../part/header.ejs')%>

    <main>
        <div class="errBlock">
            <h3>По запросу ничего не найдено. </h3>
            <img class="errImage" src="/image/forSite/error.jpeg" alt="">
        </div>
    </main>

    <%- include('../part/footer.ejs')%>
</body>
</html>