<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

    <div class="backgraund">
            <form action="/reg" method="post">
                <div class="registration">
                    <h1 class="logo">huseyn.book</h1>
                    <input class="input-reg" placeholder="Имя" type="text" name="user_name" id="user-name">
                    <input class="input-reg" placeholder="Фамилия" type="text" name="user_fast_name" id="user-fast-name">
                    <input class="input-reg" placeholder="Пароль" type="password" name="user_pass" id="user-pass">
                    <input class="input-reg" placeholder="Почта" type="mail" name="user_mail" id="user-mail">
                    <input class="input-reg" placeholder="Возраст" type="number" name="user_age" id="user-age" max="80" min="12">
                    <button class="book-buy-button">Заригистрироваться</button>
                </div>
            </form>
    </div>

</body>
</html>